.wrapper {
  padding-top: 70px;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  position: fixed;
  top: 0px;
  width: calc(100% - 80px);
  background: #fff;
  z-index: 2;
  padding: 15px;
  gap: 10px;
}
