.wrapper {
    padding-top: 70px;
  }
  
  .row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    position: fixed;
    top: 0px;
    width: calc(100% - 80px);
    background: #fff;
    z-index: 2;
    padding: 15px;
    gap: 10px;
  }
  
  .select {
    max-width: 300px;
  }
  .right {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    width: 100%;
  }
  
  .datePicker {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
  }
  
  .datePicker label {
    margin-bottom: 4px;
    font-size: 14px;
  }
  
  .datePicker input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .select {
    width: 200px;
  }
  .filters {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    align-items: flex-end;
  }
  .statistics{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    p{
      padding: 15px;
      border-radius: 7px;
      margin: 5px;
    }
  }
  .all{
    background: #6bce8f;
  }
  .expence{
    background: #6d8bcb;
  }
  .residual{
    background: #cb639c;
  }
  @media (max-width: 924px) {
    .row {
      flex-wrap: wrap;
      padding: 10px;
    }
    .filters{
      justify-content: flex-start;
    }
    .wrapper {
      padding-top: 100px;
    }
  }
  
  @media (max-width:610px) {
    .filters{
      flex-wrap: wrap;
    }
    .wrapper {
      padding-top: 220px;
    }
  }