.tableWrapper {
  width: 100%;
  overflow-x: auto;
  position: relative;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.Item {
  white-space: nowrap; /* Запрещает перенос текста */
  padding: 5px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;

  thead {
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
  }

  th,
  td {
    padding: 12px 15px;
    text-align: end;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; /* Запрещает перенос текста */
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f1f1f1;
  }
  .actionsTitle {
    width: 70px;
  }
  .actions {
    display: flex;
    gap: 10px;

    button {
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: #ddd;
      }
    }

    button:nth-child(1) {
      background-color: #1e293b;
      color: white;
    }
    button:nth-child(2) {
      background-color: #00aa0b;
      color: white;
    }
    button.undo {
      background: #ff0000;
    }
  }
}

.modalContent {
  padding: 20px;

  p {
    margin-bottom: 10px;
    font-size: 14px;
  }

  strong {
    font-weight: bold;
  }
}
