.sidebar {
  min-height: 100vh;
  background-color: #1e293b;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.sidebar.open {
  width: 220px;
}

.sidebar.closed {
  width: 60px;
}

.toggleBtn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  outline: none;
}

.menuList {
  padding: 0;
  margin-top: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  position: relative;
  font-size: 16px;
}

.menuItem:hover {
  background-color: #334155;
}

.menuItem.active {
  background-color: #475569;
}

.icon {
  font-size: 18px;
  margin-right: 5px;
}

.span {
  margin-left: 10px;
  white-space: nowrap;
}

.subMenu {
  padding: 0px 10px 10px 15px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.subMenu.open {
  max-height: 250px;
}

.subMenu.closed {
  max-height: 0;

  padding: 0px 10px 0px 15px;
}

.subMenuItem {
  padding: 8px;

  background-color: #64748b;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
}
.sidebar.closed {
  .subMenuItem {
    justify-content: center;
  }
}
.logoutBtn{
  display: flex;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #64748b;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
  transition: all .3s;
  margin-top: auto;
}
.sidebar.closed .logoutBtn{
  justify-content: center;

}

.subMenuItem:hover {
  background-color: #475569;
}

.subMenuItem.active {
  background-color: #3b82f6;
}

.subIcon {
  font-size: 18px;
}

/* Arrow styles */
.arrow {
  font-size: 14px;
  transition: transform 0.3s ease;
  margin-left: auto;
}

.arrow.open {
  transform: rotate(90deg); /* Rotate when open */
}

.sidebar.closed {
  .icon {
    // margin-right: 10px;
  }
}



/* Modal.module.scss */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.modalTitle {
  font-size: 1.5rem;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px; /* Добавить отступ сверху для отделения от текста */
}

.modalMessage {
  font-size: 1rem;
  margin-bottom: 20px; /* Отступ снизу для отделения от кнопок */
  color: #333; /* Цвет текста */
  text-align: center; /* Центрировать текст */
}

.confirmButton {
  padding: 8px 16px;
  background-color: #af0000; /* Красный цвет для подтверждения */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancelButton {
  padding: 8px 16px;
  background-color: #e0e0e0; /* Серый цвет для отмены */
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirmButton:hover {
  background-color: #844e4e; 
}

.cancelButton:hover {
  background-color: #9fc1a1; /* Более темный серый при наведении */
}
